.all{
  display: flex;
  align-items: center;
  text-align: center;
flex-wrap: wrap;
}
.App {
margin-top: 0 auto;
font-weight: 300;
width:100%;
display: flex;
background-color: #fff;
}
.progress{
  cursor: pointer;
}
button:focus {
outline: none;
}
.clickClack{
  font-size:3vh;
}